extends default

block content
    script.
        let histogram_data = !{JSON.stringify(histogram_data)};
        let box_data = !{JSON.stringify(box_data)}
        function drawALL() {
            drawHistogram();
            drawBoxAndWhiskers();
        }
    
    div(id="histogram")
    div(id="box_plot")

    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="javascript/chartsGoogle.js")