extends default

block content
    div.container
        div.container
            script(src='javascript/'+java +'.js')
            script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
            canvas(id="myChart")
            script.
                let results = !{JSON.stringify(data)};
                let pieResults = !{JSON.stringify(pieResults)};
        div.container
            canvas(id="myPie")

